<div class="container">
  <div class="row">

    <!--左側（部分テンプレート）-->
    <div class="col-md-3">
      <%= render 'users/info', user: current_user %>
      <%= render 'books/form', book: @book %>
    </div>

    <!--右側-->
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <%= render 'users/index', users: @users %>
    </div>

  </div>
</div>