/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

/*サクセスメッセージ*/
.msg {
 color: green;
 padding: 0 30px 30px;
}

/*エラーメッセージ新規登録・新規投稿*/
.new-error-msg {
 color: red;
}

/*エラーメッセージ編集*/
.edit-error-msg {
 color: red;
 width: 500px;
 margin: 0 auto;
}

/*ログイン・新規登録*/
.login {
 padding-left: 50px;
}
.signup {
 padding-left: 50px;
}

/*トップページ*/
.wrapper {
 width: 100%;
}
.top-wrapper {
 width: 550px;
 margin: 0 auto;
}
.top-text {
  line-height: 2;
}
.top-btn {
 width: 400px;
 margin: 10px auto 0;
}

/*ユーザ情報*/
.user-info {
 margin-bottom: 50px;
}
.user-image {
 margin-top: 20px;
 margin-bottom: 20px;
}
.user-custom{
 width: 100%;
}

/*新規投稿画面*/
.new-form-text {
 width: 100%;
}
.new-btn {
 display: block;
}

/*編集画面*/
.edit-header {
 width: 500px;
 padding-bottom: 20px;
 margin:0 auto;
}
.form {
 width:500px;
 margin: 0 auto;
}
.form-text {
 width: 90%;
 padding: 10px;
 margin: 20px 0;
}
.btn-wrapper {
 width: 500px;
 margin: 10px auto 10px;
}
.inline-block {
 display: inline-block;
}

